*{
    margin: 0;
    padding: 0;
}

html{
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%
}

body{
    background-color: black;
    
}

.front{
    height: 700px;
    margin-top: 0;
    background-image: url("assests/bg.jpg");
    
}

.navbar{
    height: 90px;
    /* background-color: black; */
    padding: 0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* opacity: ; */
}

.logo img{
    height: 50px;
    color: rgb(228, 3, 3);
    /* width: 150px; */
}

.nav-lang{
    height: 60px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: blue; */
}

#lang {
    width: 130px;
    height: 33px;
    color: white;
    background-color: black;
    font-size: 1rem;
    border-radius: 5px;
}


.signin-btn {
    width: 75px;
    height: 33px;
    border: 2px solid black;
    border-radius:5px ;
    background-color:#E50914;
    color: white;
    font-size: 0.9rem;
}

.signin-btn:hover{
    background-color: #860d13;
    cursor: pointer;
}


option{
    background-color: white;
    text-align: center;
}

.title{
    /* background-color: brown; */
    height: 100px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    font-weight: 900;
}

.details{
    height: 50px;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

.email-bar{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.email-bar input{
    height: 55px ;
    width: 400px;
    padding-left: 15px;
    font-size: 1rem;
    border-radius: 5px;
    background:transparent;
    border:2px solid grey;
    color: white;
}

.get-started{
    height: 55px;
    width: 200px ;
    background-color: #E50914;
    color: white;
    margin-left: 7px;
    border-radius: 5px;
    font-size: 1.5rem;
    border: none;
}

.get-started:hover{
    background-color: #860d13;
    cursor: pointer;
}

hr{
    height: 9px;
    /* color: rgb(73, 71, 71); */
    padding: 0;
    margin: 0;
    background-color:rgb(41, 39, 39);
    border: none;
}

.tvads{

    height: 500px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 70px 110px;
}

.tv-title{
    height: 200px;
    /* background-color: pink; */
    padding: 50px;
    display: block;
    margin-top:  100px ;
    margin-left: 80px;
    color: white;
}

#title-1{
    font-size: 3rem;
    font-weight:800;
    /* background-color: blue; */
}

#t1-detail{
    height: 50px;
    font-size: 1.5rem;
    /* margin: 20px 0; */
    padding: 20px 0;
    /* background-color: yellowgreen; */

}

.download{
    height: 500px;
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;
    padding: 70px 110px;

}

.down-img{
    margin-left: 50px;
}

.down-desc{
    height: 300px;
    padding: 50px;
    margin: 80px 30px;
    color: white;
    /* background-color: blueviolet; */
}

.d-title{
    font-size: 3rem ;
    font-weight: 900;
}

.d-detail{
    font-size: 1.5rem;
    padding: 20px 0;
    
}

.mac{

    height: 500px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 70px 110px;
}

.mac-title{
    height: 200px;
    /* background-color: pink; */
    padding: 50px;
    display: block;
    margin-top:  100px ;
    margin-left: 50px;
    color: white;
}

#m-title{
    font-size: 3rem;
    font-weight:800;
    /* background-color: blue; */
}

#mac-detail{
    height: 50px;
    font-size: 1.5rem;
    /* margin: 20px 0; */
    padding: 20px 0;
    /* background-color: yellowgreen; */

}

.mac-img{
    margin-right: 80px;
}

.kids{
    height: 500px;
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;
    padding: 70px 110px;
}

.kids-img{
    margin-left: 90px;
}

.kids-desc{
    height: 200px;
    /* padding: 50px; */
    margin-top: 150px;
    margin-right: 60px;
    color: white;
    /* background-color: blueviolet; */
}

.kids-title{
    font-size: 3rem ;
    font-weight: 900;
}

.kids-detail{
    font-size: 1.5rem;
    padding: 20px 0;
    
}

.faqs{
    height: 850px;
    /* background-color: rgb(128, 34, 34); */
    padding-top: 80px;
    text-align: center;
}

.faq-title{
    height: 90px;
    /* background-color: darkgray; */
    color: white;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 10px;
}

.ques-cont{
    height: 60px;
    margin: 10px 200px;
    padding: 10px 30px;
    font-size: 1.5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(41, 40, 40);
}

.ques-cont:hover{
    background-color: rgb(83, 82, 82);

}

.faqs a{
    text-decoration: none;

}
.plus-icon{
    font-size: 4rem;
}

.input-btn-2{
    margin: 50px 0;
}

.footer{
    height: 240px;
    padding: 70px 30px;
}

.help{
    /* background-color: pink; */
    color: white;
    margin-left: 150px;

}
.help a{
    color: white;
}

.sections{
    height: 150px;
    width: 800px;
    padding: 0;
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 250px;
    display: flex;
    justify-content: space-around;
    /* background-color: brown; */
}

.foot-sec-1{
    height: 150px;
    /* display: flex; */
    /* justify-content: space-around; */
    /* background-color: yellowgreen; */
}

.foot-sec-1 a{
    display:block;
    margin: 15px 0;
    color: white;
    font-size: 0.9rem;

}

.foot-lang{
    margin-left: 190px;
    /* height: 5px; */
    /* background-color: antiquewhite; */
}

.copyryt{
    margin-top: 20px;
    margin-left: 190px;
    font-size: 0.7rem;
    font-weight: bold;
    color: white;
    /* background-color: skyblue; */
}